<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Candidates</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body class="bg-white">
<div class="container mx-auto mt-10" th:switch="${candidates}">
    <h2 th:case="null">No candidates yet!</h2>
    <h1 class="text-center text-2xl font-bold mb-5">LIST CANDIDATES</h1>
    <div class="overflow-x-auto" th:case="*">
        <table class="w-full border-collapse">
            <thead>
            <tr class="border-b-2 border-gray-300 table-header">
                <th class="py-2 px-4 border border-gray-300">Id</th>
                <th class="py-2 px-4 border border-gray-300">Full Name</th>
                <th class="py-2 px-4 border border-gray-300">DOB</th>
                <th class="py-2 px-4 border border-gray-300">Address</th>
                <th class="py-2 px-4 border border-gray-300">Phone</th>
                <th class="py-2 px-4 border border-gray-300">Email</th>
                <th class="py-2 px-4 border border-gray-300" colspan="2">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr class="px-4 py-2" th:each="candidate : ${candidates}">
                <td class="border border-gray-300" th:text="${candidate.id}"></td>
                <td class="border border-gray-300" th:text="${candidate.fullName}"></td>
                <td class="border border-gray-300" th:text="${candidate.dob}"></td>
                <td class="border border-gray-300" th:text="${candidate.address}"></td>
                <td class="border border-gray-300" th:text="${candidate.phone}"></td>
                <td class="border border-gray-300" th:text="${candidate.email}"></td>
                <td class="px-4 py-2 border-b">
                    <a class="bg-green-500 text-white px-1 py-1 rounded" th:href="@{/edit/{id}(id=${candidate.id})}">Update</a>
                    <a class="bg-red-500 text-white px-1 py-1 rounded" th:href="@{/delete/{id}(id=${candidate.id})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>